.mise-en-place
  %table.recipe-ingredients
    - @recipe.ingredients_with_quantities_and_units.each do |set|
      %tr.ingredient-set
        %td.ingredient
          = set[0]
        %td.quantity
          = set[1]
        %td.unit
          = set[2]


  %ol.instructions
    - @recipe.instructions.each do |step|
      %li
        = step

  - if "chef plaform_admin".include?(current_role)
    = link_to "Edit Recipe", edit_chef_restaurant_recipe_path(current_restaurant, slug: @recipe.slug)
