.welcome-options
  .about.option
    %p About
  .register.option
    %p Register
    .hidden.register-form
      .app-register
        = form_tag "/users" do
          = text_field_tag :restaurant, nil, placeholder: "restaurant name"
          = text_field_tag :restaurant_zip, nil, placeholder: "restaurant zipcode"
          = text_field_tag :first_name, nil, placeholder: "first name"
          = text_field_tag :last_name, nil, placeholder: "last name"
          = email_field_tag :email, nil, placeholder: "your@email.com"
          = password_field_tag :password, nil, placeholder: "password"
          = password_field_tag :password_confirmation, nil, placeholder: "confirm password"
          = submit_tag "Register"
      \--- OR ---
      .google-register
        = form_tag "/google_users" do
          = text_field_tag :restaurant, nil, placeholder: "restaurant name"
          = text_field_tag :restaurant_zip, nil, placeholder: "restaurant zipcode"
          = image_submit_tag('google_signin.png', class: 'google-oauth')

  .login.option
    %p Log in
    .hidden.login-form
      = form_tag "/sessions" do
        = email_field_tag :login_email, nil, placeholder: "your@email.com"
        = password_field_tag :login_password, nil, placeholder: "password"
        = submit_tag "Log in"
      = link_to "/auth/google", class: 'google-oauth' do
        = image_tag "google_signin.png", size: "166x36"

.about-div.mt3.mx-auto
  .hidden
    %p.bold
      Recipe Resource is a recipe management app for restaurants.
    .m1 Sign up with an existing restaurant
    .m1 Create & edit recipes dynamically
    .m1 Organize recipes by station
    .m1 Add images to recipes
    .m1 Invite new team members to access your recipes
    .m1 Favorite & comment on recipes
    .m1 Only invited team members have access to your recipes
    .m1 View recent yelp! reviews
