<!DOCTYPE html>
<html>
  <head>
    <title>recipe resource</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Cantarell:400,400italic,700italic,700" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= render partial: "layouts/user_card" unless current_user.nil? || current_user.restaurants.empty?  %>
    <div id="main">
      <%= render partial: "layouts/banner" %>
      <% unless current_user.nil? %>
        <% if current_user.is_site_admin? %>
          <%= render partial: "layouts/admin_nav" %>
        <% elsif current_user.is_chef? %>
          <%= render partial: "layouts/chef_nav" %>
        <% elsif current_user.is_cook? %>
          <%= render partial: "layouts/cook_nav" %>
        <% end %>
        <% unless current_restaurant.nil? %>
          <%= render partial: "layouts/stations" %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
