<!DOCTYPE html>
<html>
  <head>
    <title>KitchenKeeper</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Open+Sans:400,600i|Raleway" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <% unless current_user.nil? %>
      <%= render partial: "layouts/user_card" %>
    <% end %>
    <div class="main">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
